*
  margin: 0
  padding: 0

header
  position: fixed
  width: 100%
  padding-bottom: 30px
  p
    color: #181818
    font-family: "Fira Sans"
  .title
    display: grid
    grid-template-columns: 100px auto
    grid-row-gap: .25rem
    margin: 25px auto
    max-width: 50%
    img
      grid-row-start: 1
      grid-row-end: 3
      height: 100%
    h1
      font-weight: normal
      font-size: 2rem
      color: #065574
      font-family: "Oswald"
  nav
    max-width: 50%
    display: flex
    margin: 0 auto
    justify-content: space-between
    .nav-links
      a
        color: #181818
        font-family: "Fira Sans"
        text-decoration: none
        margin-right: 12px
        transition: color 200ms ease-in-out
        &:hover
          color: #065574
      .active
        border-bottom: #065574 solid 3px
    .ext-links
      a
        color: #181818