*
  margin: 0
  padding: 0

header
  position: fixed
  width: 100%
  padding-bottom: 30px
  background: white
  border-bottom: #BDBDBD solid 1px
  p
    color: #181818
    font-family: "Fira Sans"
  .title
    display: grid
    grid-template-columns: 100px auto
    grid-row-gap: .25rem
    margin: 25px auto
    width: 50%
    img
      grid-row-start: 1
      grid-row-end: 3
      height: 100%
    h1
      font-weight: normal
      font-size: 2rem
      color: #065574
      font-family: "Oswald"
  nav
    width: 50%
    display: flex
    margin: 0 auto
    justify-content: space-between
    .nav-links
      a
        color: #181818
        font-family: "Fira Sans"
        text-decoration: none
        margin-right: 12px
        transition: color 200ms ease-in-out
        &:hover
          color: #065574
      .active
        border-bottom: #065574 solid 3px
    .ext-links
      a
        color: #181818

main
  background: white
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  padding-top: 180px
  font-family: "Fira Sans"
  color: #181818
  p
    line-height: 1.5em
  h2
    font-size: 2rem
    font-weight: normal
    line-height: 1.2em
    font-family: "Oswald"
    color: #065574
    margin-bottom: 15px
    text-transform: uppercase
  li
    line-height: 1.5em
    padding: 4px 0
  .hero
    height: 600px
    background: violet
    display: flex
    flex-direction: column
    justify-content: center
    grid-column-start: 1
    grid-column-end: 4
    h1
      color: white
      font-size: 4rem
      font-family: "Oswald"
      text-align: center
      width: 40%
      margin: 0 auto
    a
      text-decoration: none
      margin: 50px auto 0
      font-family: "Fira Sans"
      color: #181818
      display: block
      padding: 12px 18px
      border-radius: 24px
      background: white
      transition: background 200ms ease-in-out
      &:hover
        background: rgba(255, 255, 255, 0.7)
  .stem-section
    background: white
    min-height: 600px
    display: flex
    flex-direction: column
    justify-content: center
    padding: 0 150px
  img
    height: 100%
    width: 100%
  .img-after
    grid-column-start: 2
    grid-column-end: 4
  .img-before
    grid-column-start: 1
    grid-column-end: 3
  .heading-area
    background: #065574
    grid-column-start: 1
    grid-column-end: 4
    height: 320px
    display: flex
    flex-direction: column
    justify-content: center
    a
      text-decoration: none
      margin: 25px auto 0
      font-family: "Fira Sans"
      color: #181818
      display: block
      padding: 12px 18px
      border-radius: 24px
      background: white
      transition: background 200ms ease-in-out
      &:hover
        background: rgba(255, 255, 255, 0.7)
    h1
      color: white
      width: 40%
      text-align: center
      margin: 0 auto 10px
      font-family: "Oswald"
      font-size: 3rem
      font-weight: normal
      text-transform: uppercase
    p
      color: white
      width: 40%
      text-align: center
      margin: 0 auto
    q
      color: white
      width: 40%
      text-align: center
      margin: 0 auto 20px
      font-size: 1.5rem
  .light
    background: #ACE4EC
    h1
      color: #181818
    li
      color: #181818
      width: 40%
      text-align: center
      margin: 0 auto
      list-style: none
  .bg-img
    height: 450px
    background: pink
    background-attachment: fixed
    grid-column-start: 1
    grid-column-end: 4
    display: flex
    flex-direction: column
    justify-content: center
  .floating-box
    grid-column-start: 2
    grid-column-end: 3
    display: grid
    grid-template-columns: 1fr 1fr
    background: #E57A62
    margin: 100px 0
    img
      grid-row-start: 1
      grid-row-end: 3
    h2
      color: #181818
      padding: 40px 40px 0px
    p
      padding: 0px 40px 40px
  .activity-grid
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column-start: 1
    grid-column-end: 4
    .activity
      min-height: 600px
      border: solid black 1px
      background: pink
      display: flex
      flex-direction: column
      justify-content: center
      .floating-box-activity
        background: white
        min-height: 500px
        width: 400px
        margin: auto
        h2
          color: #181818
          padding: 60px 60px 0
        ul
          padding: 0 60px
          .circle
            list-style-type: circle
        p
          padding: 0 60px
  .ai-floating-box
    background: white
    margin: auto
    width: 40%
    h1
      color: #181818
      font-size: 4rem
      font-family: "Oswald"
      line-height: 1.2em
      text-align: center
      width: 40%
      margin: 0 auto
      padding: 40px 0
    h2
      color: #181818
      width: 40%
      text-align: center
      margin: 0 auto 10px
      font-family: "Oswald"
      font-size: 3rem
      font-weight: normal
      text-transform: uppercase
      padding-top: 40px
    ul
      padding: 0 80px 40px
    p
      padding: 0 80px 20px
  .ai-what
    background: #ACE4EC
    grid-column-start: 1
    grid-column-end: 4
    padding: 80px 0
    .ai-bg
      background: pink
      height: 250px
      margin-bottom: 20px
  .ai-medicine
    grid-column-start: 1
    grid-column-end: 4
    padding: 80px 0
    display: flex
    flex-direction: column
    a
      text-decoration: none
      margin: 25px auto 0
      font-family: "Fira Sans"
      color: white
      display: block
      padding: 12px 18px
      border-radius: 24px
      background: #065574
      transition: background 200ms ease-in-out
      &:hover
        background: rgba(6, 85, 116, 0.7)
    h2
      width: 40%
      text-align: center
      margin: 0 auto 10px
      font-family: "Oswald"
      font-size: 3rem
      font-weight: normal
      text-transform: uppercase
      padding-bottom: 40px
    .ai-floating-box
      background: #E57A62
      padding: 40px 0
      margin-bottom: 30px
      h3
        font-size: 2rem
        text-align: center
        margin: 0 auto 10px
        font-weight: normal
        font-family: "Oswald"
        color: #181818
        text-transform: uppercase
      p
        text-align: center
  .split-view
    grid-column-start: 1
    grid-column-end: 4
    display: grid
    grid-template-columns: 1fr 1fr
    .info
      padding: 100px 0
    h2
      font-size: 4rem
      font-family: "Oswald"
      line-height: 1.2em
      margin-bottom: 10px
      padding: 40px 200px 0
    p
      padding: 0 200px 20px
      font-size: 1.5rem
    ul
      padding: 0 200px 40px 230px
    .micro-bg
      background: pink
  .dark
    background: #065574
    h2
      color: white
    p
      color: white
    ul
      color: white
footer
  height: 175px
  background: white
  border-top: #BDBDBD solid 1px
  .container
    display: flex
    width: 50%
    margin: auto
    div
      margin-top: 30px
      font-family: "Fira Sans"
      color: #181818
      line-height: 1.4em
      margin-right: 150px
      a
        color: #181818
        text-decoration: none
        transition: color 200ms ease-in-out
      h3
        font-family: "Oswald"
        font-size: 1.25rem
        font-weight: normal
        margin-bottom: 10px
    .contact
      a:hover
        color: #065574
