* {
  margin: 0;
  padding: 0; }

header {
  position: fixed;
  width: 100%;
  padding-bottom: 30px;
  background: white;
  border-bottom: #BDBDBD solid 1px; }
  header p {
    color: #181818;
    font-family: "Fira Sans"; }
  header .title {
    display: grid;
    grid-template-columns: 100px auto;
    grid-row-gap: 0.25rem;
    margin: 25px auto;
    width: 50%; }
    header .title img {
      grid-row-start: 1;
      grid-row-end: 3;
      height: 100%; }
    header .title h1 {
      font-weight: normal;
      font-size: 2rem;
      color: #065574;
      font-family: "Oswald"; }
  header nav {
    width: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between; }
    header nav .nav-links a {
      color: #181818;
      font-family: "Fira Sans";
      text-decoration: none;
      margin-right: 12px;
      transition: color 200ms ease-in-out; }
      header nav .nav-links a:hover {
        color: #065574; }
    header nav .nav-links .active {
      border-bottom: #065574 solid 3px; }
    header nav .ext-links a {
      color: #181818; }

main {
  background: pink;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 800px; }
  main p {
    font-family: "Fira Sans";
    line-height: 1.5rem;
    color: #181818; }
  main .hero {
    padding-top: 180px;
    height: 600px;
    background: violet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4; }
    main .hero h1 {
      color: white;
      font-size: 4rem;
      font-family: "Oswald";
      text-align: center;
      width: 40%;
      margin: 0 auto; }
    main .hero a {
      text-decoration: none;
      margin: 50px auto 0;
      font-family: "Fira Sans";
      color: #181818;
      display: block;
      padding: 12px 18px;
      border-radius: 24px;
      background: white;
      transition: background 200ms ease-in-out; }
      main .hero a:hover {
        background: rgba(255, 255, 255, 0.7); }
  main .stem-section {
    background: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 150px; }
    main .stem-section h2 {
      font-size: 2rem;
      font-weight: normal;
      font-family: "Oswald";
      color: #065574;
      margin-bottom: 20px;
      text-transform: uppercase; }
  main img {
    height: 100%;
    width: 100%; }
  main .img-after {
    grid-column-start: 2;
    grid-column-end: 4; }
  main .img-before {
    grid-column-start: 1;
    grid-column-end: 3; }

footer {
  height: 175px;
  background: white;
  border-top: #BDBDBD solid 1px; }
  footer .container {
    display: flex;
    width: 50%;
    margin: auto; }
    footer .container div {
      margin-top: 30px;
      font-family: "Fira Sans";
      color: #181818;
      line-height: 1.4em;
      margin-right: 150px; }
      footer .container div a {
        color: #181818;
        text-decoration: none;
        transition: color 200ms ease-in-out; }
      footer .container div h3 {
        font-family: "Oswald";
        font-size: 1.25rem;
        font-weight: normal;
        margin-bottom: 10px; }
    footer .container .contact a:hover {
      color: #065574; }

/*# sourceMappingURL=main.css.map */
