* {
  margin: 0;
  padding: 0; }

header {
  position: fixed;
  width: 100%;
  padding-bottom: 30px;
  background: white;
  border-bottom: #BDBDBD solid 1px; }
  header p {
    color: #181818;
    font-family: "Fira Sans"; }
  header .title {
    display: grid;
    grid-template-columns: 100px auto;
    grid-row-gap: 0.25rem;
    margin: 25px auto;
    width: 50%; }
    header .title img {
      grid-row-start: 1;
      grid-row-end: 3;
      height: 100%; }
    header .title h1 {
      font-weight: normal;
      font-size: 2rem;
      color: #065574;
      font-family: "Oswald"; }
  header nav {
    width: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between; }
    header nav .nav-links a {
      color: #181818;
      font-family: "Fira Sans";
      text-decoration: none;
      margin-right: 12px;
      transition: color 200ms ease-in-out; }
      header nav .nav-links a:hover {
        color: #065574; }
    header nav .nav-links .active {
      border-bottom: #065574 solid 3px; }
    header nav .ext-links a {
      color: #181818; }

main {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 180px;
  font-family: "Fira Sans";
  color: #181818; }
  main p {
    line-height: 1.5em; }
  main h2 {
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.2em;
    font-family: "Oswald";
    color: #065574;
    margin-bottom: 15px;
    text-transform: uppercase; }
  main li {
    line-height: 1.5em;
    padding: 4px 0; }
  main .hero {
    height: 600px;
    background: url("../img/circuit-board.svg") #065574;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4; }
    main .hero h1 {
      color: white;
      font-size: 4rem;
      font-family: "Oswald";
      text-align: center;
      width: 40%;
      margin: 0 auto; }
    main .hero a {
      text-decoration: none;
      margin: 50px auto 0;
      font-family: "Fira Sans";
      color: #181818;
      display: block;
      padding: 12px 18px;
      border-radius: 24px;
      background: white;
      transition: background 200ms ease-in-out; }
      main .hero a:hover {
        background: rgba(255, 255, 255, 0.7); }
  main .stem-section {
    background: white;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 150px; }
  main img {
    height: 600px;
    width: 100%;
    object-fit: cover; }
  main .img-after {
    grid-column-start: 2;
    grid-column-end: 4; }
  main .img-before {
    grid-column-start: 1;
    grid-column-end: 3; }
  main .heading-area {
    background: #065574;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    main .heading-area a {
      text-decoration: none;
      margin: 25px auto 0;
      font-family: "Fira Sans";
      color: #181818;
      display: block;
      padding: 12px 18px;
      border-radius: 24px;
      background: white;
      transition: background 200ms ease-in-out; }
      main .heading-area a:hover {
        background: rgba(255, 255, 255, 0.7); }
    main .heading-area h1 {
      color: white;
      width: 40%;
      text-align: center;
      margin: 0 auto 10px;
      font-family: "Oswald";
      font-size: 3rem;
      font-weight: normal;
      text-transform: uppercase; }
    main .heading-area p {
      color: white;
      width: 40%;
      text-align: center;
      margin: 0 auto; }
    main .heading-area q {
      color: white;
      width: 40%;
      text-align: center;
      margin: 0 auto 20px;
      font-size: 1.5rem; }
  main .light {
    background: #ACE4EC; }
    main .light h1 {
      color: #181818; }
    main .light li {
      color: #181818;
      width: 40%;
      text-align: center;
      margin: 0 auto;
      list-style: none; }
  main .bg-img {
    height: 450px;
    background-attachment: fixed;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  main .tsa-bg {
    background: pink;
    background-attachment: fixed; }
  main .ai-bg-1 {
    background: url("../img/artificial-intelligence.jpg");
    background-attachment: fixed; }
  main .floating-box {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #E57A62;
    margin: 100px 0; }
    main .floating-box img {
      grid-row-start: 1;
      grid-row-end: 3;
      height: 100%;
      width: 100%;
      object-fit: cover; }
    main .floating-box h2 {
      color: #181818;
      padding: 40px 40px 0px; }
    main .floating-box p {
      padding: 0px 40px 40px; }
  main .activity-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 4; }
    main .activity-grid .act-1 {
      background: url("../img/bubbles.svg") #ACE4EC; }
    main .activity-grid .act-2 {
      background: url("../img/diagonal-lines.svg") #ACE4EC; }
    main .activity-grid .act-3 {
      background: url("../img/overlapping-circles.svg") #ACE4EC; }
    main .activity-grid .act-4 {
      background: url("../img/topography.svg") #ACE4EC; }
    main .activity-grid .act-5 {
      background: url("../img/rain.svg") #ACE4EC; }
    main .activity-grid .act-6 {
      background: url("../img/wiggle.svg") #ACE4EC; }
    main .activity-grid .activity {
      min-height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      main .activity-grid .activity .floating-box-activity {
        background: white;
        min-height: 500px;
        width: 400px;
        margin: auto; }
        main .activity-grid .activity .floating-box-activity h2 {
          color: #181818;
          padding: 60px 60px 0; }
        main .activity-grid .activity .floating-box-activity ul {
          padding: 0 60px; }
          main .activity-grid .activity .floating-box-activity ul .circle {
            list-style-type: circle; }
        main .activity-grid .activity .floating-box-activity p {
          padding: 0 60px; }
  main .ai-floating-box {
    background: white;
    margin: auto;
    width: 40%; }
    main .ai-floating-box h1 {
      color: #181818;
      font-size: 4rem;
      font-family: "Oswald";
      line-height: 1.2em;
      text-align: center;
      width: 40%;
      margin: 0 auto;
      padding: 40px 0; }
    main .ai-floating-box h2 {
      color: #181818;
      width: 40%;
      text-align: center;
      margin: 0 auto 10px;
      font-family: "Oswald";
      font-size: 3rem;
      font-weight: normal;
      text-transform: uppercase;
      padding-top: 40px; }
    main .ai-floating-box ul {
      padding: 0 80px 40px; }
    main .ai-floating-box p {
      padding: 0 80px 20px; }
  main .ai-what {
    background: #ACE4EC;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 80px 0; }
    main .ai-what .ai-bg-2 {
      background: url("../img/ai-what.jpg") center left;
      height: 250px;
      margin-bottom: 20px; }
  main .ai-medicine {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 80px 0;
    display: flex;
    flex-direction: column; }
    main .ai-medicine a {
      text-decoration: none;
      margin: 25px auto 0;
      font-family: "Fira Sans";
      color: white;
      display: block;
      padding: 12px 18px;
      border-radius: 24px;
      background: #065574;
      transition: background 200ms ease-in-out; }
      main .ai-medicine a:hover {
        background: rgba(6, 85, 116, 0.7); }
    main .ai-medicine h2 {
      width: 40%;
      text-align: center;
      margin: 0 auto 10px;
      font-family: "Oswald";
      font-size: 3rem;
      font-weight: normal;
      text-transform: uppercase;
      padding-bottom: 40px; }
    main .ai-medicine .ai-floating-box {
      background: #E57A62;
      padding: 40px 0;
      margin-bottom: 30px; }
      main .ai-medicine .ai-floating-box h3 {
        font-size: 2rem;
        text-align: center;
        margin: 0 auto 10px;
        font-weight: normal;
        font-family: "Oswald";
        color: #181818;
        text-transform: uppercase; }
      main .ai-medicine .ai-floating-box p {
        text-align: center; }
  main .split-view {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    main .split-view .info {
      padding: 100px 0; }
    main .split-view h2 {
      font-size: 4rem;
      font-family: "Oswald";
      line-height: 1.2em;
      margin-bottom: 10px;
      padding: 40px 200px 0; }
    main .split-view p {
      padding: 0 200px 20px;
      font-size: 1.5rem; }
    main .split-view ul {
      padding: 0 200px 40px 230px; }
    main .split-view .micro-bg {
      background: url("../img/hospital-ward.jpg");
      background-size: cover; }
    main .split-view .therapy-bg {
      background: url("../img/robot.jpg");
      background-size: cover; }
  main .dark {
    background: #065574; }
    main .dark h2 {
      color: white; }
    main .dark p {
      color: white; }
    main .dark ul {
      color: white; }

footer {
  height: 175px;
  background: white;
  border-top: #BDBDBD solid 1px; }
  footer .container {
    display: flex;
    width: 50%;
    margin: auto; }
    footer .container div {
      margin-top: 30px;
      font-family: "Fira Sans";
      color: #181818;
      line-height: 1.4em;
      margin-right: 150px; }
      footer .container div a {
        color: #181818;
        text-decoration: none;
        transition: color 200ms ease-in-out; }
      footer .container div h3 {
        font-family: "Oswald";
        font-size: 1.25rem;
        font-weight: normal;
        margin-bottom: 10px; }
    footer .container .contact a:hover {
      color: #065574; }

/*# sourceMappingURL=main.css.map */
